<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Knowlattes Query Maker</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/sticky-menu.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Welcome   -->
    <section id="welcome" class="welcome-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1><a href="/">Knowlattes Graph</a></h1>
                    <div>
                        <form method="get" action="/" id="form_id">

                            <textarea
                                name="query"
                                class="input"
                                rows="10"
                                form="form_id"
                            >{% if query %}{{query}}{% endif %}</textarea>
                            <!-- <input type="text"> -->
                            <input type="submit">
                        </form>
                    </div>
                    {% if results %}
                    <h3> Results </h3>
                    {{ results }}
                    {% else %}
                    <a href="/example"><h2>Examples</h2></a>
                    {% endif %}
                    <ul class="ul-welcome"></ul>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
	
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
	
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/sticky-menu.js"></script>

    <script src="static/js/text-area.js"></script>

</body>

</html>